* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

.header {
  height: 100vh;
  background-image: url(./img/bg.jpg);
  padding-top: 20px;
}
.wrapper {
  width: 1200px;
  margin: auto;
  height: 100%;
}
.menu {
  height: 68px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-logo {
  background-color: #009970;
  color: white;
  line-height: 68px;
  padding: 0 38px;
  font-size: 34px;
}

.menu-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #033326;
  font-size: 14px;
  margin-right: 18px;
}

.menu-item:hover {
  color: #009970;
}
.button1 {
  background-color: #009970;
  color: white;
  border-radius: 20px;
  padding: 15px 30px;
}






